/* HTML Element Styles */

html, body{
  font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 100%;
}


/* IDs */

#landing {
  position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #eee;
    background-image: url(../img/fcc2.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}
/*Add button to the landing section*/
#landing .btn{
    padding: 18px 50px;
    border-radius: 29px;
    background-color: darkgreen;
    color: #eee;
    font-size: 17px;
    margin-top: 12px
}
#landing .btn:hover,
#landing .btn:focus{
    background-color: #0f1;
    color: #fff;
}
#landing h3{
    margin-bottom: 31px;
}
#about{
    background-color: darkgreen;
    color: #fff;
}
#about h4{
    color: rgba(255,255,255,.5);
    letter-spacing: 1px;
}
#about p em{
    color: #777;
}
/*
This css is now redundant

#join-bg {
  background: url("../img/campers1.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
*/

#contact-form {
  background-color: white;
}


/******** Classes ************/


/******** Navbar classes ************/


.navbar-default {
  background: transparent;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.navbar a {
  color: #eee !important;
  /* Really shouldn't need important */
}

.nav-items > li > a > em {
  font-style: normal;
    font-size: 18px;
  padding-bottom: 6px;
    text-transform: uppercase;
}

.nav-items > li > a > em:hover {
  border-bottom: 1.5px solid #e7e7e7;
}
.navbar-brand{
    color: 18px;
    font-size: 24px;
    
}
/* other classes*/
.jumbotron {
  background: transparent;
  margin-top: 10%;
    position: relative;
    width: 100%;
    padding: 100px 15px;
    
}


/*
redundant

.container {
  padding: 80px 120px;
}
*/

/* Button */

#send-btn {
  padding: 10px 20px;
  border: 1px solid red;
  background-color: transparent;
  color: black;
  border-radius: 0;
  transition: .2s;
}


/* On hover, the color of #send-btn will transition to white with black text */

#send-btn:hover,
#send-btn:focus {
  border: 1px solid red;
  background-color: red;
  color: white;
}




/* Section */
section {
    padding: 100px 0;
}
