/* HTML Element Styles */

html, body{
  font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 100%;
}


/* IDs */

#landing {
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #eee;
    background-image: url(../img/fcc2.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}
/*Add button to the landing section*/
#landing .btn{
    padding: 18px 50px;
    border-radius: 29px;
    background-color: green;
    color: #eee;
    font-size: 17px;
    margin-top: 12px
}
/*Add hover to button in the landing section*/
#landing .btn:hover,
#landing .btn:focus{
    background-color: #3f9f10;
    color: #eee;
}
/*Add margin to h3 buttom in landing section*/
#landing h3{
    margin-bottom: 31px;
}

/*Event venue container*/
+#events-venue{
 +    background: url(../img/fcc2.png);
 +    background-position: center;
 +    -webkit-background-size: cover;
 +    -moz-background-size: cover;
 +    background-size: cover;
 +    -o-background-size: cover;
 +    padding: 150px 0;
 +    position: relative;
 +    border-radius: 6px;
 +}
#events-venue-info{
   color: #eee;
    font-weight: 100;
    font-size: 19px;
    background-color: rgba(0,128,0, 0.7);
    position: absolute;
   top: 0;
    left: 0;
     width: 100%;
    height: 100%;
 }
#events-venue-info h3{
   margin: 24px 0 0 35px;
    line-height: 35px;
}

#events{
    padding: 100px 0;
}
#events .btn{
   padding: 12px 35px;
   border-radius: 29px;
   background-color: green;
    color: #eee;
   font-size: 17px;
   margin-top: 12px
}
#events-venue-info {
    color: #eee;
    font-weight: 100;
    font-size: 19px;
    background-color: rgba(0,128,0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Add about section*/
#about{
    color: rgba(255,255,255,.8);
    letter-spacing: 1px;
    padding: 100px 0;
    background-color: green;
    width: 100%;
    bottom: 0;
}
/*Set h4 color in the about section*/
#about h4{
    color: rgba(255,255,255,.5);
}
/*Add border to the images in the about section*/
#about img{
    border: 3px solid #777;
}
/*Add count section*/
#count{
    color: rgba(255,255,255,.8);
    letter-spacing: 1px;
    padding: 100px 0;
    background-color: #888;
    width: 100%;
}
#members h1{
    margin-top: 0px !important;
}

#members{
    color: white;
    letter-spacing: 1px;
    padding: 10px 0;
    background-color: #7F766E;
    width: 100%;
}
/*set the bcakground color of the members section*/
.members{
    background-color:#eee;;
}
/*set the properties of the container to wrap the users boxes in horizontal view*/
#allmembers{
    display: flex;
    flex-wrap: wrap;
    
}
/*second div to add members on button click*/
#allmembers1{
    display: flex;
    flex-wrap: wrap;
    
}
/* set the background shadow of the users boxes*/
.users{
   -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  width:22%;
  height:300px;
  padding:20px;
  background-color:white;
  margin:15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  
}
/* set each box to cover the full screen on smaller devices*/
@media screen and (max-width:904px){
  .users{
    width:90%;
    margin:10px;
    height:350px;
  }
}

#userimage{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
}
#skills{
    list-style: none;
}
#skills li{
    margin-right:10px;
}
.users a{
    text-decoration: none;
}
.users a h4{
    background-color: green;
    padding:15px;
    border-radius:25px;
    color: white;
}
#membersButton{
    margin:20px;
}

/******** Classes ************/


/******** Navbar classes ************/

/*Set navbar to transparent and responsive to all device port*/
.navbar-default {
  background: transparent;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    width: 100%;
}
.navbar a {
  color: #eee !important;
  /* Really shouldn't need important */
}
.nav-items > li > a > em {
    font-style: normal;
    font-size: 18px;
    padding-bottom: 6px;
    text-transform: uppercase;
}

.nav-items > li > a > em:hover {
  border-bottom: 1.5px solid #e7e7e7;
}
.navbar-brand{
    color: 18px;
    font-size: 24px;
    
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: green;
    border-top: 3px solid transparent;
 }


/* Event navbar section*/
.nav-event-header{
   float: left;
    font-weight: bolder;
   font-size: 35px
 }
.nav-event-link{
    float: right;
}
.navbar-ul li{
     list-style: none;
  float: left;
    font-size: 17px;
    margin: 0 12px;
    padding: 0;
     letter-spacing: 1px;
   text-transform: uppercase;
}
.navbar-event a{
    color: #333;
    text-decoration: none;
    font-size: 26px;
 }

/* set the background shadow of the users boxes*/
.users{
  -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
 	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
 width:22%;
  height:300px;
  padding:20px;
   background-color:white;
  margin:15px;
    margin-left: auto;
   margin-right: auto;
   margin-top: 10px;

}
.users a{
    text-decoration: none;
}
.users a h4{
    background-color: green;
    padding:15px;
   border-radius:25px;
    color: white;
 }

.event-container{
    padding: 100px 0;
}
.event-past #past h3{
   margin-top: 50px;
 }
.event-past #past #events-venue{
    margin-top: 50px;
}
#events-venue {
    background: url(../img/fcc2.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 150px 0;
    position: relative;
    border-radius: 6px;
}

#events-venue-info h3{
    font-size: 19px;
    margin: 24px 0 0 19px;
}


/*Set jumbotron container transparent*/
.jumbotron {
  background: transparent;
    width: 100%;
    padding: 100px 0;
}

/* others */
hr{
    border-color: rgba(255,255,255,.5);;
    max-width: 70%;
    border-width: 2px;
}

footer{
  text-align: center;
  padding: 24px 0;
   background-color: #444;
   width: 100%;
   font-size: 17px;
  color: #ddd;
}


footer a{
  color: #ddd;
 }
footer a:hover{
    color: #ddd;
    text-decoration: none;
 }
 .active {
    border-top: 3px solid red
 }


/**MEDIA QUEIES**/

/*when mobile view, resize navbar-brand be parallel with the nav button*/
/* set each box to cover the full screen on smaller devices*/
@media only screen and (max-width: 357px) {
    .navbar-brand {
        font-size: 19px;
    }
    .nav-event-header{
           font-size: 15px;
       }
    .navbar-ul li a{
            font-size: 15px;
         }
    #events .btn{
             margin-bottom: 24px;
             margin-left: 20%;
         }

}
/*resize the font size in count section when in mobile view*/
@media only screen and (max-width: 400px) {
    #cout h2{
        font-size: 2px;
    }
    #count p{
        font-size: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar-collapse{
         background-color: green;
      }
   .nav-event-header{
           font-size: 25px;
        }
    .navbar-ul li a{
         font-size: 19px;
         font-size: 19px;
     }

   #events .btn{
            margin-bottom: 24px;
             margin-left: 120px;
      }
    #events-venue-info h3{
         margin: 45px 0 0 70px;
        line-height: 35px;
        }
    .event-past #past #events-venue{
             margin-top: 30px;
        }
}

+@media screen and (max-width:904px){
 .users{
      width:90%;
       margin:10px;
     height:350px;
    }
    #events .btn{
            margin-left: 120px;
        }
}



